In [13]:
import telegram

텔레그램_인증토큰 = None  # FIXME: 각자의 토큰을 지정해주세요.

chat_id = "42478249"  # 텔레그램 채팅방의 아이디

bot = telegram.Bot(텔레그램_인증토큰)
bot.sendMessage(chat_id=chat_id, text="반갑습니다. :D")

In [4]:
for update in bot.getUpdates():
    print("chat_id :", update.message.chat.id)
    print(update.message)

chat_id : 42478249
{'message_id': 9, 'date': 1555562468, 'chat': {'id': 42478249, 'type': 'private', 'username': 'allieus', 'first_name': 'Chinseok'}, 'text': 'hello', 'entities': [], 'caption_entities': [], 'photo': [], 'new_chat_members': [], 'new_chat_photo': [], 'delete_chat_photo': False, 'group_chat_created': False, 'supergroup_chat_created': False, 'channel_chat_created': False, 'from': {'id': 42478249, 'first_name': 'Chinseok', 'is_bot': False, 'username': 'allieus', 'language_code': 'en'}}

In [ ]:
!pip3 install requests beautifulsoup4

In [6]:
import requests
from bs4 import BeautifulSoup

def naver_realtime_keywords():
    url = "http://naver.com"
    res = requests.get(url)
    html = res.text
    soup = BeautifulSoup(html, 'html.parser')
    tag_list = soup.select(".PM_CL_realtimeKeyword_rolling_base .ah_k")
    keyword_list = [tag.text for tag in tag_list]
    return keyword_list

In [14]:
message = "\n".join(naver_realtime_keywords())
bot.sendMessage(chat_id=chat_id, text=message)

# 기본 데이터 타입

+ 문자열 : str
+ 정수 : int
+ 실수 : float
+ 참/거짓 : bool
+ None

# 기본 자료구조

+ list
+ tuple
+ set
+ dict

In [17]:
# 리스트
#  순서가 있는 자료구조
#  임의로 항목들을 추가/수정/삭제
["오로나민C", "알바천국", "베이컨박스", "LG유플러스 5G"]

['오로나민C', '알바천국', '베이컨박스', 'LG유플러스 5G']

In [20]:
학생_목록 = ["김철수", "이영희", "스티브", "잡스"]
학생_목록.append("이진석")  # 끝에 추가
학생_목록.insert(1, "비타민")
학생_목록

['김철수', '비타민', '이영희', '스티브', '잡스', '이진석']

In [30]:
학생_목록[5]

'이진석'

In [31]:
내가_좋아하는_음식_목록 = [
    "김치찌개", "묵은지", "곰탕", "순대국밥", "곱창",
    "소주", "맥주", "부침개", "비타민워터", "호떡",
]
내가_좋아하는_음식_목록

['김치찌개', '묵은지', '곰탕', '순대국밥', '곱창', '소주', '맥주', '부침개', '비타민워터', '호떡']

In [32]:
len(내가_좋아하는_음식_목록)

10

In [33]:
내가_좋아하는_음식_목록[0]

'김치찌개'

In [34]:
내가_좋아하는_음식_목록[1]

'묵은지'

In [35]:
내가_좋아하는_음식_목록[9]

'호떡'

In [38]:
last_idx = len(내가_좋아하는_음식_목록) - 1
내가_좋아하는_음식_목록[last_idx]

'호떡'

In [39]:
내가_좋아하는_음식_목록[len(내가_좋아하는_음식_목록) - 1]

'호떡'

In [40]:
내가_좋아하는_음식_목록[-1]

'호떡'

# tvcf.co.kr 에서 베스트 CF 목록

In [ ]:
!pip3 install pandas

In [43]:
import pandas as pd

In [44]:
res = requests.get("https://www.tvcf.co.kr/Ranking/Total/List.asp")
html = res.text
soup = BeautifulSoup(html, "html.parser")
tag_list = soup.select("#goContents li")
len(tag_list)

64

In [45]:
cf_list = []

for tag in tag_list:
    date = pd.to_datetime(tag.select_one(".thum_date01").text)
    url = tag.select_one("[target=_blank]")['href']
    cf_id = url.rsplit('/', 1)[-1]
    title = tag.select_one(".title_fix04").text
    score = int(tag.select_one(".ranking_num01").text)
    is_down = tag.select_one(".blueA") != None
    is_up = tag.select_one(".redA") != None
    cf = {
        'date': date,
        'url': url,
        'cf_id': cf_id,
        'title': title,
        'score': score,
        'is_down': is_down,
        'is_up': is_up,
    }
    cf_list.append(cf)

len(cf_list)

64

In [46]:
cf_list[0]

{'date': Timestamp('2019-03-08 00:00:00'),
 'url': 'https://v.tvcf.co.kr/739976',
 'cf_id': '739976',
 'title': '오로나민C',
 'score': 1646,
 'is_down': False,
 'is_up': False}

In [47]:
cf_list[-1]

{'date': Timestamp('2019-04-01 00:00:00'),
 'url': 'https://v.tvcf.co.kr/742939',
 'cf_id': '742939',
 'title': '다우니 엑스퍼트 실내건조',
 'score': 1321,
 'is_down': False,
 'is_up': False}

# 사전 (dict)

In [48]:
철수_성적 = [100, 90, 80]  # list
철수_성적[0]

100

In [53]:
철수_성적 = {"국어": 100, "영어": 90, "수학": 80}
철수_성적["사회"]

KeyError: '사회'

In [54]:
학생_성적_목록 = [
    {"이름": "김철수", "국어": 100, "영어": 90, "수학": 80},
    {"이름": "이영희", "국어": 70, "영어": 100, "수학": 90},
    {"이름": "스티브", "국어": 50, "영어": 100, "수학": 90},
]
학생_성적_목록

[{'이름': '김철수', '국어': 100, '영어': 90, '수학': 80},
 {'이름': '이영희', '국어': 70, '영어': 100, '수학': 90},
 {'이름': '스티브', '국어': 50, '영어': 100, '수학': 90}]

In [57]:
df = pd.DataFrame(학생_성적_목록)
df.to_excel("학생목록.xlsx")
df

    국어  수학   영어   이름
0  100  80   90  김철수
1   70  90  100  이영희
2   50  90  100  스티브