# 제어구조

## 구구단

In [2]:
print("2 * 1 = 2")
print("2 * 2 = 4")
print("2 * 3 = 6")
print("2 * 4 = 8")
print("2 * 5 = 10")
print("2 * 6 = 12")
print("2 * 7 = 14")
print("2 * 8 = 16")
print("2 * 9 = 18")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [9]:
number = 19
for i in [1, 2, 3, 4, 5, 6, 7, 8, 9]:
    print(number, i, number * i)

19 1 19
19 2 38
19 3 57
19 4 76
19 5 95
19 6 114
19 7 133
19 8 152
19 9 171

In [10]:
number = 19
for i in range(1, 10, 1):
    print(number, i, number * i)

19 1 19
19 2 38
19 3 57
19 4 76
19 5 95
19 6 114
19 7 133
19 8 152
19 9 171

In [11]:
range(10)
range(0, 10)
range(0, 10, 1)

range(0, 10)

In [14]:
for i in range(4, 100, 4):
    print(i)

4
8
12
16
20
24
28
32
36
40
44
48
52
56
60
64
68
72
76
80
84
88
92
96

In [19]:
range(10)  # Generator

range(0, 10)

In [28]:
for number in range(2, 10):
    print("### {}단 ###".format(number))
    for i in range(1, 10, 1):
        print("{} * {} = {}".format(number, i, number * i))
    print()

### 2단 ###
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

### 3단 ###
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

### 4단 ###
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

### 5단 ###
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

### 6단 ###
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

### 7단 ###
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

### 8단 ###
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

### 9단 ###
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [31]:
for i in range(3):
    print("*")

*
*
*

In [39]:
"*" * 10

'**********'

In [43]:
for i in range(1, 6):
    print('*' * (6-i))

*****
****
***
**
*

## while 문

In [45]:
# range(10)

i = 0
while i < 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

## 연습문제 1) 1이상 100 미만 범위, 3과 5의 공배수를 모두 출력하기

Hint : `for`, `if` 를 적절히 사용

## 연습문제 2) 1이상 100미만 범위, 3과 5의 공배수의 합을 구하기

In [46]:
합 = 0
합 += 15
합 += 30
합 += 45
합 += 60
합 += 75
합 += 90
합

315

# SMTP를 활용한 메일 보내기

Simple Mail Transfer Protocol

네이버 메일

1. 환경설정
2. POP3/IMAP 메뉴
3. SMTP 활성화

계정정보

+ SMTP 서버명 : smtp.naver.com
+ SMTP 포트 : 465, 보안 연결(SSL) 필요
+ 아이디 : allieuslee
+ 비밀번호 : 네이버 로그인 비밀번호

In [50]:
!pip install envelopes

Requirement already satisfied: envelopes in /Users/allieus/anaconda3/lib/python3.7/site-packages (0.4)

In [48]:
from getpass import getpass

암호 = getpass("암호 : ")

암호 : ········

In [49]:
from envelopes import Envelope, GMailSMTP

아이디 = "allieuslee"
보낸_이메일 = 아이디 + "@naver.com"
보낸_이름 = "이진석"

envelope = Envelope(
    from_addr=(보낸_이메일, 보낸_이름),
    to_addr=('me@askcompany.kr', 'Ask Company'),
    subject='파이썬 메일 보내기 테스트 - 이진석',
    text_body="메일 내용입니다 ~~~"
)

# envelope.add_attachment('/Users/bilbo/Pictures/helicopter.jpg')

# Send the envelope using an ad-hoc connection...
envelope.send('smtp.naver.com', login=아이디, password=암호, tls=True)

(<envelopes.conn.SMTP at 0x1081d0160>, {})

In [54]:
고객명 = "이진석"
서비스명 = "이노션"

제목 = "사랑합니다. {}님.".format(고객명)

환영_메세지 = """
환영합니다. {}님.

저희 {} 서비스에 가입해주셔서 감사드립니다.

앞으로도 꾸준히 저희 {} 서비스를 사랑해주세요.

- 운영자""".format(고객명, 서비스명, 서비스명)

print(제목)
print(환영_메세지)

사랑합니다. 이진석님.

환영합니다. 이진석님.

저희 이노션 서비스에 가입해주셔서 감사드립니다.

앞으로도 꾸준히 저희 이노션 서비스를 사랑해주세요.

- 운영자

# 함수 (Functions)

In [67]:
def 구구단_출력(number):
    # number = 2
    print("### {}단 ###".format(number))
    for i in range(1, 10, 1):
        print("{} * {} = {}".format(number, i, number * i))

In [68]:
구구단_출력(2)  # 함수를 호출(Call)한다. => 함수 내 코드를 실행
구구단_출력(3)
구구단_출력(4)  # 인자 (Arguments)

### 2단 ###
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
### 3단 ###
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
### 4단 ###
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36